body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.listas_atributos {
    display: flex;
    flex-direction: row;
}

.listas_atributos div h3 {
    text-align: center;
}

.habilidades {
    display: flex;
    flex-direction: row;
}

.habilidades div h3{
    text-align: center;
}

.resumo {
    display: flex;
    flex-direction: row;
    width: 40vw;
    justify-content: space-around;
    text-align: center;
}

.resumo_col {
    display: flex;
    flex-direction: column;
}