@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

@font-face {
    font-family: Darkness;
    src: url(../img/fonts/cw_oldwd.ttf)
}

@font-face {
    font-family: Akira;
    src: url(../img/fonts/AKIRA___.ttf)
}

@font-face {
    font-family: Bergel;
    src: url(../img/fonts/BERGELL.TTF)
}

body {
    background: linear-gradient(to bottom, rgba(85, 0, 255, 0.79), rgba(92, 0, 128, 0.751));
    color: white;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}

:root {
    --cor-primaria: #1B1A17;
    --cor-secundaria: #B4B4B3;
    --cor-terciaria: white;
    --cor-hover: #272727;
    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
    --fonte-terciaria: Darkness;
    --fonte-quarternaria: Bergel;
    --fonte-quinternaria: Akira;
}

p a {
    color: purple;
    text-decoration: none;
    font-weight: 600;
}

.content_row {
    display: flex;
    flex-direction: row;
    border: blue;
}

.content_column {
    display: flex;
    flex-direction: column;
    border: green;
}

/* tradition collapsible start */
.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 25vw;
    margin: 15px;
    box-sizing: border-box;
}

.collapsible_base {
    border: 1px solid #ddd;
    padding: 10px;
    cursor: pointer;
    outline: none;
    font-size: 15px;
    width: 25vw;
    box-sizing: border-box;
}

.active {
    display: block;
}

/* general tradition */
.tradition_top {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    border: green;
}

.descricao_geral {
    width: 60%;
}

.tradition_bottom p{
    text-align: center;
}

.tradition_bottom {
    border: green;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    max-height: 90%;
}

/* tradition tooltip */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 125px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* essence general */
.essence_top {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    border: green;
}

.marked {
    background-color: #D0D0D7;
}

.essence_top p{
    text-align: center;
}

.essence_bottom {
    border: green;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info {
    border: purple ;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.essence_name {
    width: 100%;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 5px;
}

.essence_name h2 {
    font-weight: 200;
    font-size: 20px;
}

.essence_description {
    display: none;
    width: 60%;
}

.button_display {
    display: flex;
    flex-direction: row;
}

.show {
    display: flex;
    flex-direction: column;
}


/* aquétipo */
.arquetipo_top {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    border: green;
}

.arquetipo_top p{
    text-align: center;
}

.arquetipo_bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.content {
    display: none;
    padding: 10px;
    border: blue;
    
}

.content_area {
    border: yellow;
    display: flex;
    text-align: center;
    border-radius: 20px;
}

.nav_center {
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    height: 40vh;
    border:  orangered;
}

.searchbar {
    border:  brown;
    margin: 10px;
}

.search_column {
    display: flex;
    flex-direction: column;
    border:  green;
}

.searchbar input {
    width: 340px;
    height: 35px;
    color: #000000;
    border-radius: 5px;
    text-align: center;
}

.searchbar input:focus {
    outline: none;
}

.collapsible {
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 5px;
    width: 300px;
}

.collapsible h2 {
    font-weight: 200;
    font-size: 20px;
}

.show {
    display: flex;
    flex-direction: column;
}


.arquetipo_options {
    border: red;
    overflow: auto;
    direction: rtl;
    width: 700px;
    padding-bottom: 20px;
    }


/* atributos */
.atributos_top {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    border: green;
    margin-top: 40px;
}

.atributos_bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.attribute-container {
    display: flex;
    flex-direction: column;
}

/* .attribute {
    display: flex;
    justify-content: end;
} */

/* vantagens */
.vantagem_top {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    border: green;
}

.vantagem_bottom {
    display: flex; 
    align-items: center;
    justify-content: center;
}

.vantagem_list {
    width: 1200px;
    border: red;
}

/* habilidades */
.habilidades_top {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.habilidades_bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-around
}

/* iPhone 13 Media Query */
@media only screen and (max-width: 480px) {
    .card {
        width: 90%;
    }

    .hidden {
        display: none;
    }
    
    .collapsible_base {
        width: 100%; /* Adjust width for iPhone screen */
        font-size: 14px; /* Adjust font size for readability */
    }

    .collapsible {
        width: 70%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content {
        width: 95%;
        justify-content: center;
    }

    .tradition_top, .tradition_bottom {
        flex-direction: column; /* Adjust layout for smaller screen */
    }

    .content_column {
        width: 100%; /* Adjust column width */
    }

    .descricao_geral {
        width: 90vw;
        display: flex;
        justify-content: center;
    }

    .essence_description {
        width: 100%;
        padding: 20px;
    }

    .content_row {
        flex-wrap: wrap;
    }

    .essence_name {
        width: calc(50% - 10px); /* Each item takes up half the row width minus margin */
        margin: 5px; /* Maintain margin */
    }

    .nav_center {
        flex-direction: column;
        width: 90vw;
        align-items: center;
        height: 400px;
        margin-bottom: 150px;
    }

    .arquetipo_options {
        width: 400px;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    #searchInput {
        width: 70%;
    }

    .atributos_bottom {
        flex-direction: column;
        align-items: center;
    }

    .attribute-container {
        margin-bottom: 50px ;
    }

    .habilidades_bottom {
        flex-direction: column;
        align-items: center;
    }

    .vantagem_list ul ul li {
        max-width: 90%;
    }

    /* .nav_center {
        flex-direction: column;
        height: 450px;
    }
    
    .arquetipo_options {
        height: 200px;
        flex-wrap: wrap;
    }

    .arquetipo_bottom {
        display: flex;
        flex-direction: row;
        align-items: initial;
        height: 500px;
        justify-content: center;
    }
    
    .content_area {
        display: flex;
        justify-content: center;
    }

    .collapsible {
        margin: 5px;
        width: 200px;
    }

    .content_column{
        width: 100px;
    } */
}
